/*----------------------------------------*/
/* default CSS
/*----------------------------------------*/

html,
body {
	height: 100%;
	font-family: "Raleway", sans-serif;
	background: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Raleway", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 14px;
	color: #9d9d9d;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	line-height: 28px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #ffffff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	padding: 18px 38px;
	color: #ffffff;
	background: #F9AD81;
	letter-spacing: 0.5px;
}

/*---------------------
  Header
-----------------------*/

.header-section {
	background: #353535;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	padding-bottom: 24px;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 999;
}

.inner-header .logo {
	float: left;
	line-height: 60px;
}

.inner-header .logo a {
	display: inline-block;
	width: 200px;
	height: 40px;
}

.inner-header .main-menu {
	float: left;
	margin-right: 30px;
	display: block;
}

.inner-header .main-menu ul li {
	list-style: none;
	display: inline-block;
	margin-left: 50px;
	line-height: 50px;
	padding: 5px;
	position: relative;
	z-index: 1;
}

.inner-header .main-menu ul li.active a {
	color: #F9AD81;
}

.inner-header .main-menu ul li.active a:after {
	opacity: 1;
}

.inner-header .main-menu ul li:last-child {
	margin-left: 50px;
}

.inner-header .main-menu ul li>a {
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.5px;
	display: inline-block;
	position: relative;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.inner-header .main-menu ul li>a:hover {
	color: #F9AD81;
}

.inner-header .main-menu ul li>a:hover::after {
	opacity: 1;
}

.inner-header .main-menu ul li>a:after {
	position: absolute;
	left: 50%;
	bottom: 9px;
	width: 5px;
	height: 5px;
	background: #F9AD81;
	content: "";
	border-radius: 50%;
	-webkit-transform: translateX(-2.5px);
	transform: translateX(-2.5px);
	opacity: 0;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

/*---------------------
  Hero Area
-----------------------*/
.hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/index_background.jpg");
	margin: 0px;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
  }
  
.hero-text {
	text-align: right;
	position: absolute;
	top: 50%;
	left: 75%;
	transform: translate(-50%, -50%);
}

.hero-text  h2{
	color: white;
	}


/*---------------------
  Search Form
-----------------------*/
.search-form {
	position: absolute;
	top: 25%;
	left: 10%;
	margin-right: 800px;
}
